*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection
{
    background-color: $color-teal;
    color: #ffffff;
}

html
{
    font-size: 10px;
}
body
{
    font-family: $font-primary;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.social-header, .hero-design
{
    display: none;
}

.slide-in
{
    animation: slide-in .5s ease forwards;
}

@keyframes slide-in {
    from 
    {
        transform: translateX(100%);
        visibility: visible;
    }

    to 
    {
        transform: translateX(0%);
    }
}