.hero {
    background-color: $color-dark-blue;
    text-align: center;
    color: #ffffff;

    height: 85vh;

    .content {
        padding: 4rem 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    .heading-primary {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .sub-title {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        color: #2df5f5;
    }

    .hero-img {
        display: none;
    }
}
