.nav-container {
    background-color: $color-darker-blue;
    font-family: $font-primary;

    
    
    .bars
    {
        display: none;
        fill: #fff;
        width: 2rem;
        position: absolute;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
    }

    .logo {
        font-size: 1.9rem;
        color:  #2DF5F5;
        font-weight: bold;
        text-transform: uppercase;
    }



    .header {
        padding: 2rem 5rem;
        @include flexbetween;
    }
    .nav {
        font-size: 1.6rem;
        &-list {
            @include flexbetween;
        }

        &-item {
            a {
                color: #ffffff;
            }

            &:not(.contact) {
                margin-right: 4rem;
            }
        }
    }
}
