.work {
    padding: 0rem 3rem;
    text-align: left;

   

    .selected {
        .project {
            position: relative;
            margin-bottom: 8rem;
            display: flex;
            flex-direction: column;


            .button-container
            {
                margin: 3rem 0 4rem 0rem;
                text-transform: uppercase;

                .btn-ghost
                {
                    color: #000000;
                    border-color: #000;
                }
            }
        }

        .left {
            margin-bottom: 6rem;
            padding-left: 1rem;

            .circle {
                position: absolute;
                left: -5.8%;
                top: -10%;
                height: 20rem;
                width: 20rem;
            }

            .sub-title {
                font-size: 1.5rem;
                margin-bottom: .5rem;
                text-transform: uppercase;
                color: $color-teal;
            }

            .project-title {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
            .desc {
                font-size: 1.4rem;
                line-height: 1.4;
                font-family: $font-secondary;
            }
        }

        .right {
            width: 100%;
            padding: 0rem 1rem;


            &-img {
                width: 100%;
                box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
            }
        }
    }
}
