.btn
{
    cursor: pointer;
    border: none;
    padding: 0.8rem 2.2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    transition: all .3s ease;

    a 
    {
        color: #ffffff;
    }

    &-cta
    {
        border: 1.5px solid $color-cta;
        margin-right: 2rem;
        background-color: $color-cta;
        color: #ffffff;

        &:hover
        {
            background-color: #e43740;
            border-color:#e43740 ;
        }
    }

    &-ghost
    {
        border: 1.5px solid #fff;
        background-color: transparent;
        color: #ffffff;

        a 
        {
            color: #000000;
        }
    }

    &-secondary
    {
        border: 1.5px solid #fff;
        background-color: $color-teal;
        color: #ffffff;
    }

    &-white
    {
        color: $color-teal;
        background-color: #fff;
        text-transform: capitalize;

        a 
        {
            color:$color-dark-blue;
        }
    }
}

.hero .btn a 
{
    color: #fff;
}

.watermark-title {
    font-size: clamp(10rem, 34vw, 80rem);
    opacity: .9;
    margin: -6rem 0;    
    color: #e5d5fa;
    z-index: -1;
    position: relative;
    text-align: center;
}