$color-darker-blue: #6700EE;
$color-dark-blue: #6E00FF;
$color-cta: #F2545B;
$color-teal: #15CEB0;
$color-black: #333333; 


$font-primary: 'poppins', sans-serif;
$font-secondary: 'nunito', sans-serif;