$color-darker-blue: #1D043A;
$color-dark-blue: #230843;
$color-cta: #F2545B;
$color-teal: #2DF5F5;
$color-black: #333333; 


$font-primary: 'montserrat', sans-serif;
$font-secondary: 'roboto', sans-serif;