*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #15CEB0;
  color: #ffffff;
}

::selection {
  background-color: #15CEB0;
  color: #ffffff;
}

html {
  font-size: 10px;
}

body {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.social-header, .hero-design {
  display: none;
}

.slide-in {
  -webkit-animation: slide-in .5s ease forwards;
          animation: slide-in .5s ease forwards;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nav-container {
  background-color: #6700EE;
  font-family: "poppins", sans-serif;
}

.nav-container .bars {
  display: none;
  fill: #fff;
  width: 2rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

.nav-container .logo {
  font-size: 1.9rem;
  color: #2DF5F5;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-container .header {
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .nav {
  font-size: 1.6rem;
}

.nav-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .nav-item *:not(#exit) {
  background-color: #6700EE;
  padding: .5rem 2.5rem;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border-radius: 5px;
}

.nav-container .nav-item *:not(#exit):hover {
  background-color: #5b09c5;
}

.nav-container .nav-item a {
  color: #ffffff;
}

.nav-container .nav-item:not(.contact) {
  margin-right: 4rem;
}

.hero {
  background-color: #6E00FF;
  text-align: center;
  color: #ffffff;
  height: 85vh;
}

.hero .content {
  padding: 4rem 4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .heading-primary {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero .sub-title {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: #2df5f5;
}

.hero .hero-img {
  display: none;
}

.work {
  padding: 0rem 3rem;
  text-align: left;
}

.work .selected .project {
  position: relative;
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .selected .project .button-container {
  margin: 3rem 0 4rem 0rem;
  text-transform: uppercase;
}

.work .selected .project .button-container .btn-ghost {
  color: #000000;
  border-color: #000;
}

.work .selected .left {
  margin-bottom: 6rem;
  padding-left: 1rem;
}

.work .selected .left .circle {
  position: absolute;
  left: -5.8%;
  top: -10%;
  height: 20rem;
  width: 20rem;
}

.work .selected .left .sub-title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  color: #15CEB0;
}

.work .selected .left .project-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.work .selected .left .desc {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: "nunito", sans-serif;
}

.work .selected .right {
  width: 100%;
  padding: 0rem 1rem;
}

.work .selected .right-img {
  width: 100%;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}

.skills {
  padding: 0rem 3rem;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 1rem;
  margin-top: -14rem;
}

.skills-item {
  border: 2px solid #000;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.skills-item-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  color: #f94e18;
  border-color: #f94e18;
}

.skills-item-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #1863f9;
  border-color: #1863f9;
}

.skills-item-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: bold;
  color: #000;
  background-color: #f2f229;
  border-color: #f2f229;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
}

.skills-item-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #41a8ed;
  border-color: #41a8ed;
}

.skills-item-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 3/ -1;
  color: #ec1c40;
  border-color: #ec1c40;
}

.skills-item-5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 3/-1;
  color: #29ebf2;
  border-color: #29ebf2;
}

.skills-item-7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #075a7f;
  border-color: #075a7f;
}

.skills-item-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: 3/-1;
  color: #4da83f;
  border-color: #4da83f;
}

.skills-item-9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #347b35;
  border-color: #347b35;
}

.skills-item-10 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #dc4a33;
  border-color: #dc4a33;
}

.skills-item-11 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border-color: #ed39b4;
  color: #2c0a23;
}

.skills-item:not(.skills-item-3) {
  opacity: 0.8;
}

.footer {
  padding: 2rem 3rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  font-size: 1.6rem;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn a {
  color: #ffffff;
}

.btn-cta {
  border: 1.5px solid #F2545B;
  margin-right: 2rem;
  background-color: #F2545B;
  color: #ffffff;
}

.btn-cta:hover {
  background-color: #e43740;
  border-color: #e43740;
}

.btn-ghost {
  border: 1.5px solid #fff;
  background-color: transparent;
  color: #ffffff;
}

.btn-ghost a {
  color: #000000;
}

.btn-secondary {
  border: 1.5px solid #fff;
  background-color: #15CEB0;
  color: #ffffff;
}

.btn-white {
  color: #15CEB0;
  background-color: #fff;
  text-transform: capitalize;
}

.btn-white a {
  color: #6E00FF;
}

.hero .btn a {
  color: #fff;
}

.watermark-title {
  font-size: clamp(10rem, 34vw, 80rem);
  opacity: .9;
  margin: -6rem 0;
  color: #e5d5fa;
  z-index: -1;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .nav-container .nav-list {
    position: absolute;
    top: -200%;
    opacity: 0;
    -webkit-transition: top, opacity 0.5s ease-in-out;
    transition: top, opacity 0.5s ease-in-out;
  }
  .nav-container .bars {
    display: block;
  }
  .nav-container.mobile .nav-list {
    opacity: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6700EE;
    padding: 2rem 4rem;
    width: 100%;
  }
  .nav-container.mobile .nav-list > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .nav-container.mobile .nav-list #exit {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (min-width: 840px) {
  .work .selected .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    grid-gap: 2rem;
  }
  .about-container {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 50% 50% !important;
        grid-template-columns: 50% 50% !important;
    grid-gap: 0rem;
  }
  .about-container .about-img {
    margin-left: 10rem;
    width: 40rem;
    height: 42rem;
  }
  .types {
    padding: 8rem 4rem 5rem 4rem;
  }
  .types .type-container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .header,
  .skills-container {
    padding: 2rem 5rem;
  }
  .work .selected .project.flip {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
  }
  .work .selected .project.flip .circle {
    position: absolute;
    left: 50%;
    top: -25%;
  }
  .work .selected .project.flip .right {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
  }
  .work .selected .project.flip .left {
    grid-column: 2/-1;
  }
  .skills-container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 3rem 4rem;
  }
  .skills-item {
    padding: 1rem 1rem;
    font-size: 1.6rem;
  }
  .skills-item-1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    color: #f94e18;
    border-color: #f94e18;
  }
  .skills-item-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    color: #1863f9;
    border-color: #1863f9;
  }
  .skills-item-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    color: #000;
    background-color: #f2f229;
    border-color: #f2f229;
    -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
  }
  .skills-item-4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    color: #41a8ed;
    border-color: #41a8ed;
  }
  .skills-item-6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    color: #ec1c40;
    border-color: #ec1c40;
  }
  .skills-item-5 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    color: #29ebf2;
    border-color: #29ebf2;
  }
  .skills-item-7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    color: #075a7f;
    border-color: #075a7f;
  }
  .skills-item-8 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    color: #4da83f;
    border-color: #4da83f;
  }
  .skills-item-9 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    color: #347b35;
    border-color: #347b35;
  }
  .skills-item-10 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    color: #dc4a33;
    border-color: #dc4a33;
  }
  .skills-item-11 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    border-color: #ed39b4;
    color: #2c0a23;
  }
}

@media screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background-color: unset;
  }
  .nav-container .header {
    background-color: #6700EE;
  }
  .nav-container .social-header {
    display: block;
  }
  .nav-container .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 3rem;
    width: 100%;
  }
  .nav-container .social-header ul img {
    width: 25px;
    margin-right: 4rem;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    height: 90vh;
    text-align: left;
  }
  .hero .content {
    position: relative;
    padding: 4rem 4rem 4rem 6rem;
    text-align: left;
    background-color: #6E00FF;
  }
  .hero .content .heading-primary {
    width: 65%;
    font-size: 5rem;
    line-height: 1.1;
  }
  .hero .content .hero-design {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 99.5%;
  }
  .hero .content .hero-design #Ellipse_3, .hero .content .hero-design #Ellipse_9, .hero .content .hero-design #Ellipse_5 {
    opacity: .3;
  }
  .hero .img-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-img {
    display: block;
    width: 35rem;
    height: 37rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 2rem 4rem rgba(110, 0, 255, 0.5);
            box-shadow: 0 2rem 4rem rgba(110, 0, 255, 0.5);
  }
}

@media screen and (min-width: 1250px) {
  .hero .hero-img {
    width: 40rem;
    height: 40rem;
  }
  .project {
    margin-bottom: 12rem !important;
  }
  .project .circle {
    z-index: -1;
  }
}

@media screen and (min-width: 650px) {
  #exit {
    display: none;
  }
}

.types {
  background-color: #15CEB0;
  padding: 8rem 3rem 5rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}

.types .type {
  background-color: #fff;
  margin-bottom: 4rem;
  text-align: center;
  padding: 4rem 4.5rem;
  width: 75%;
  max-width: 38rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
}

.types .type-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types .type-icon {
  margin-bottom: 2rem;
  stroke: #15CEB0;
  height: 10rem;
  width: 13rem;
}

.types .type-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.types .type-desc {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.about {
  padding: 0rem 2.8rem;
  margin-bottom: 8rem;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-img {
  width: 34rem;
  height: 32rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.about .about-me {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.about .watermark-title {
  font-size: clamp(10rem, 29vw, 80rem);
  text-align: center;
  margin-left: -1rem;
}

.contact-title {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: #6700EE;
  text-transform: uppercase;
  text-align: center;
}

.contact-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 0, 255, 0.6)), to(#6700ee)), url("../images/showcase.jpg");
  background: linear-gradient(to bottom, rgba(110, 0, 255, 0.6), #6700ee), url("../images/showcase.jpg");
  background-position: center;
  height: 88.5vh;
  width: 100%;
}

.contact-hero .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
}

.contact-hero .form label {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.contact-hero .form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-bottom: 2px solid #6E00FF;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.contact-hero .form label .label-name {
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-hero .form textarea + .label .label-name {
  bottom: 45px;
}

.contact-hero .form textarea {
  padding-top: 2rem;
}

.contact-hero .form-input {
  padding: 2rem 0rem;
  padding-top: 2rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: inherit;
}

.contact-hero .form-input:focus + label .label-name,
.contact-hero .form-input:valid + label .label-name {
  font-size: 1.4rem;
  color: #15CEB0;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.contact-hero .form-input:focus + label::after,
.contact-hero .form-input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-hero .form-control {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.contact-hero .form-container {
  background-color: #ffffff;
  padding: 2rem 4rem;
  width: 50%;
  height: 80%;
  -webkit-box-shadow: 0 1rem 3rem rgba(85, 88, 129, 0.6);
          box-shadow: 0 1rem 3rem rgba(85, 88, 129, 0.6);
  border-radius: 0.5rem;
}

.bottom-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
  background-color: #6E00FF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 25rem;
}

.bottom-cta .cta-title {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */